.footer {
  text-align: center;
  padding: 3px;
  background-color: rgb(28, 44, 88);
  color: white;
  line-height: 40px;
  font-family: 'Times New Roman', Times, serif;
  width: 100%;
  text-align: center;
  
}
